<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="select">
    <th mat-header-cell class="checkbox" *matHeaderCellDef>
    </th>
    <td mat-cell  *matCellDef="let row"
      class="checkbox"
      [attr.data-down-script-id]="row">
      <mat-checkbox
        [attr.data-down-script-id]="row"
        (click)="$event.stopPropagation()"
        (change)="downTo(row-1)"
        [checked]="wasUpTo(row)"
        [disabled]="!canDownTo(row-1)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="script">
    <th mat-header-cell *matHeaderCellDef> Script </th>
    <td mat-cell *matCellDef="let row"> {{getName(row)}} </td>
  </ng-container>

  <ng-container matColumnDef="simulate">
    <th mat-header-cell class="checkbox" *matHeaderCellDef> S </th>
    <td mat-cell *matCellDef="let row"
      class="checkbox"
      [attr.data-simulateup-script-id]="row"
      [class.reconciledup]="realSimulatedUpTo(row)"
      [class.simulated]="simulatedUpTo(row)">
      <mat-checkbox
        [attr.data-simulateup-script-id]="row"
        (click)="$event.stopPropagation()"
        (change)="simulateUpTo(row)"
        [checked]="simulatedUpTo(row)"
        [disabled]="!canUpTo(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="reproduce">
    <th mat-header-cell class="checkbox" *matHeaderCellDef> R </th>
    <td mat-cell *matCellDef="let row"
        class="checkbox"
        [attr.data-reproduceup-script-id]="row"
        [class.reconciledup]="realReproducedUpTo(row)"
        [class.reproduced]="reproducedUpTo(row)">
      <mat-checkbox
        [attr.data-reproduceup-script-id]="row"
        (click)="$event.stopPropagation()"
        (change)="reproduceUpTo(row)"
        [checked]="reproducedUpTo(row)"
        [disabled]="!canUpTo(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="empty">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row" class="empty"></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    [attr.data-script-id]="row"
    [class.active]="isActive(row)">
  </tr>
</table>
<p>{{ getElement() }}</p>
